# C object files
*.o
*.so

# Temporary vi files
*.swp

# Temporary emacs files
*~
TAGS

# Latex intermediate files
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
.idea/*
cmake-build-debug/*

test/test_server_go/EGILTestServer/EGILTestServer
test/test_server_go/EGILTestServer/EGILTestServer.exe
test/test_external_process/test_external_process
test/test_external_process/test_external_process.exe

*.pem

# nix build
/result*

# VS Code
.vscode
