# C object files
*.o

# Temporary vi files
*.swp

# Temporary emacs files
*~

# Latex intermediate files
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
.idea/*
cmake-build-debug/*

test/test_server_go/EGILTestServer/EGILTestServer
